@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
}

.contenido {
    max-width: 700px;
    background: white;
    margin: 20px auto;
    box-shadow: 0px 3px 6px #afafaf;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.person-list, .person-cont{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
